<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="../css/style.css">

	<meta charset="utf-8">
	<title>My Calculator</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Kennashka's Calculator">
	<meta name="author" content="Kennashka DeSilva">
	<meta name="Keywords" content="kenya calculator, kennashka calculator,
 free calculator, calculator app, calculator">

	<!-- Bootstrap -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129340722-1"></script>


</head>

<body>

	<div id="mmain">
		<!-- Navigation -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
			<div class="container">
				<a class="navbar-brand" href="#">My Calculator</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
					aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active">
							<a class="nav-link" href="/">Calculator
								<span class="sr-only">(current)</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>



		<div class="container">

			<div class="row justify-content-center p-5">

				<!-- <div class="card " style= "width: 22rem;">

<div class="card-body bg-transparent"> <-->
				<span class="border p-5">
                    <table class="styled-table">
                        <tr>
                            <th>USN</th>
                            <th>NAME</th>
                        </tr>
                        <tr>
                            <td>4NI19CS018</td>
                            <td>Amar Shindhe</td>
                        </tr>
                        <tr>
                            <td>4NI19CS040</td>
                            <td>Fazil A</td>
                        </tr>
                        <tr>
                            <td>4NI19CS077</td>
                            <td>Omkar Kulakarni</td>
                        </tr>
                        <tr>
                            <td>4NI19CS093</td>
                            <td>Rithesh Preetham M</td>
                        </tr>
                    </table>
				</span>

				<!--
</div> 

</div>  -->

			</div> <!-- row -->

		</div> <!-- Container-->


		<!-- Bootstrap core JavaScript -->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
	</div>
</body>

</html>